*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
a{
    text-decoration: none;
}

.copy{
    background-color: #222222;
    color:aliceblue;
    font-size: 12px;
}

header{
    background-color: rgb(40, 56, 144);
    color:aliceblue;
    width: 100%;
    min-height: 50px;
    height: auto;
    padding-top:10px;

}
.botones{
    align-items: center;
}
.registro{
    padding-top: 10px;
}

.registro ul{
  justify-content: flex-end;
  display: flex;
}
.registro ul li{
    list-style-type: none;
  text-align: left;
}
.registro ul li a{
    color: #ffffff;
    padding: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.fas{
    padding-right: 10px;
}
.container-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    width: 100%;
}

.btn-compra{
    background-image: linear-gradient(to top,#8CC63F,#39B54A);
    font-family: PT Sans;
    font-weight: 400;
    border: 0;
    font-style: normal;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    padding: 11px 23px;
    line-height: 16px;
    font-size: 13px;
    max-width: 200px;
    float: left;
}
.btn-bio{
    background: linear-gradient(0deg, rgba(252,161,14,1) 0%, rgba(245,120,30,1) 80%);
    font-family: PT Sans;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
    border-radius: 2px;
    padding: 11px 23px;
    line-height: 16px;
    font-size: 13px;
    max-width: 200px;
    display: inline-block;
    margin-left: 20px;
}

.logo{
    display: block; 
    float: left;
    max-width: 100%;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}
.nav-item{
    padding: 0 0 0 15px;
}


.nav-item a:hover{
    border-bottom: 3px solid rgb(40, 56, 144);
    transition-duration:  0.2s;
}
.active{
    border-bottom: 3px solid rgb(40, 56, 144);
    color: rgb(23, 116, 185);
}
    
.footer-left{
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(40, 56, 144);
    padding: 30px;
    text-align: center;
    min-height: 150.667px;
    height: auto;
    color: aliceblue;

}
.footer-right{
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(23, 116, 185);
    padding: 20px;
    text-align: center;
    min-height: 150.667px;
    height: auto;
    color: aliceblue;
}
.footer-right p{
    padding-top: 20px;
}
footer p{
    font-size: 18px;
    font-weight: bold;
}
.ubicaciones{
    font-size: 15px;
}

.fab{
    padding: 8px 15px;
    background-color: rgb(40, 56, 144);
    border-radius: 3px;
}

.banner-bio{
    background-color: rgb(40, 56, 144);
    color:aliceblue;
    width: 100%;
    min-height: 100px;
    height: auto;
    padding-top:10px;
}

.contenido-banner-bio{
    display: inline-block;
    background: #1774b9;
    padding: 10px 10px;
    transform: skew(0deg, -5deg) translateY(0px);
    color: white;
    font-size: 22px;
    font-weight: bold;
    width: 160px;
    top: 110px;
    margin: 15px 20px;
}