.banner{
    clear: both;
    padding: 0 10px;
    height: 80px;
    background-position: center center;
    background-origin: border-box;
    border-top: 1px solid;
    border-bottom: 1px solid;
    background-image: url(/images/promociones/bannerPromociones.jpg);
    border-color: #d2d3d4;
    padding-top: 10px;
}
.par{
    background-color: rgb(40, 56, 144);
    color:aliceblue;
    width: 100%;
    min-height: 60px;

    padding:12px;
    font-size: 50px;
}