.letra{
    font-size: 14px;
}
.par{
    background-color: rgb(40, 56, 144);
    color:aliceblue;
    width: 100%;
    min-height: 60px;
    padding:12px;
    font-size: 50px;
}
.img-fluid2{
    margin: auto;
    height: 600px;
    width:400px;
}
.texto{
    padding: 20px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(40, 56, 144);
    font-size: 30px;
}
.form-register {
    width: 400px;
    background: rgb(40, 56, 144);
    padding: 30px;
    margin: auto;
    margin-top: 20px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}
.form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
}
.controls {
    width: 100%;
    background: #fff;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}
.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
} 
.form-register a {
    color: white;
    text-decoration: none;
}
.form-register a:hover {
    color: white;
    text-decoration: underline;
}
.form-register .botons {
    width: 100%;
    background: rgb(23, 116, 185);
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}
.banner{
  clear: both;
  padding: 0 10px;
  height: 80px;
  background-position: center center;
  background-origin: border-box;
  border-top: 1px solid;
  border-bottom: 1px solid;
  background-image: url(/images/contacto/bannerContactos.jpg);
  border-color: #d2d3d4;
  padding-top: 10px;
}
.contenido-banner-bio{
    width: 122px;
}