.c1 {
    background-color: rgb(40, 56, 144);
    color: aliceblue;
    width: 100%;
    min-height: 60px;

    padding: 12px;
    font-size: 50px;
}
.c2{background-color: 
    rgb(125, 216, 152);
    color: rgb(40, 56, 144);
}
.contenedor{
    width: 100%;
    padding: 15px;
}
.formulario{
    background: #fff;
    margin-top: 150px;
    padding: 3px;
}

h3{
    text-align: center;
    color: rgb(40, 56, 144);
    font-size: 40px;
}

.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid rgb(40, 56, 144);
}

.button{
    border: none;
    
    color: white;
    text-align: center;
    background:  rgb(40, 56, 144);
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background: rgb(62, 72, 129);
}

.link{
    text-decoration: none;
      color: rgb(40, 56, 144);
    font-weight: 600;
}
.link:hover{
     color: cadetblue;
}

@media(min-width:768px)
{
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
}