.banner{
    clear: both;
    padding: 0 10px;
    height: 87px;
    width: 100%; 
    background-position: center center;
    background-origin: border-box;
    background-color: #283890;
    border-top: 1px solid;
    border-bottom: 1px solid;
    background-image: url(https://mrjoy.com.pe/wp-content/uploads/2019/09/headers-cumple.png);
    border-color: #d2d3d4;
    background-size: auto;
    padding: 10px 0;
}
.contenido-banner-bio{
    width: 145px;

}

.box{
    transform-style: preserve-3d;
    perspective: 1000px;
    cursor: pointer;
    padding: 0 10px;
}
.body{
    margin: 20px 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 0.9s ease;
}
.titulo{
    text-align: center;
    font-family: cursive;
    margin: 15px 0;
}
.imgContainer{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}
.imgContainer img{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 91%;
    background: #333;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    border-radius: 10px;
}
.margin-menos{
    font-size: 2em;
}
.box:hover .body{
    transform: rotateY(180deg);
}
.contenidoReversa{
    transform-style: preserve-3d;
    padding: 5px 15px;
    background: linear-gradient(45deg, #b91152,#1991c9);
    transform: translateZ(100px);
    border-radius: 5px;
    width: 300px;
}
.content div h3{
    letter-spacing: 1px;
}
.fa-gift{
    font-size: 3em
}
.texto{
    font-size: 12px;
    color:#fff
}
.tabla-precios{
    border-radius: 25px;
    height: auto;
    min-height: 200px;
    overflow: hidden;
    
}
.valor{
    font-family: Arial Black;
    font-size: 45px;
}
.valor-left{
    text-align: right;
}
.col-center{
    float: none;
    margin: 0 auto;
}
.boton{
    text-align: center;
}
.boton a:hover{
    color: #fff;
}
.btn-reserva{
    background: linear-gradient(0deg, rgba(23, 116, 185) 0%, rgba(40, 56, 144) 80%);
    font-family: PT Sans;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
    border-radius: 2px;
    padding: 11px 23px;
    line-height: 16px;
    font-size: 13px;
    max-width: 200px;
    display: inline-block;
    margin-left: 20px;
}

/*inicio verde*/
.circuloVerde{
    background: #aedf62;
    color:#72a71f;
    width: 80px;
    height: 80px;
    margin: 0 auto -40px auto;
    z-index: 3;
    position: relative;
    border-radius: 50px;
    padding: 16px;
}
.tituloVerde{
    background: #72a71f;
    color: #fff;
    max-height: 170px;
    text-align: center;
    padding: 50px 10px 30px 10px;
}
.valorVerde{
    padding: 10px 70px !important;
    background: #aedf62;
    color: #5d861b;
}
.cantidadVerde{
    background: #72a71f;
    color: #fff;
    border-top: 1px solid #aedf62;
    height: auto;
    padding: 10px;
    text-align: center;
    
}
/*fin verde*/

/*inicio amarillo*/
.circuloAmarillo{
    background: #f8ebd7;
    color:#F57F17;
    width: 80px;
    height: 80px;
    margin: 0 auto -40px auto;
    z-index: 3;
    position: relative;
    border-radius: 50px;
    padding: 16px;
}

.tituloAmarillo{
    background: #F9A825;
    color: #fff;
    max-height: 170px;
    text-align: center;
    padding: 50px 10px 30px 10px;
}
.valorAmarillo{
    padding: 10px 70px !important;
    background: #f8ebd7;
    color: #FF6F00;
}
.cantidadAmarillo{
    background: #f39c11;
    color: #fff;
    border-top: 1px solid #FF6F00;
    height: auto;
    padding: 10px;
    text-align: center;
    
}
/*fin amarillo*/

/*inicio Turquesa */
.circuloTurquesa{
    background: #C9F1EE;
    color:#5DC1B9;
    width: 80px;
    height: 80px;
    margin: 0 auto -40px auto;
    z-index: 3;
    position: relative;
    border-radius: 50px;
    padding: 16px;
}

.tituloTurquesa{
    background: #5DC1B9;
    color: #fff;
    max-height: 170px;
    text-align: center;
    padding: 50px 10px 30px 10px;
}
.valorTurquesa{
    padding: 10px 70px !important;
    background: #C9F1EE;
    color: #388b85;   
}
.cantidadTurquesa{
    background: #5DC1B9;
    color: #fff;
    border-top: 1px solid #388b85;
    height: auto;
    padding: 10px;
    text-align: center;
    
}
/*fin turquesa*/
